<template>
  <div class="life">
    <table>
      <v-timer time="50" @buzz="next" v-if="play"/>
      <tr v-for="cellsLine, lineId of cellsYX" :key="lineId">
        <td v-for="cell, rowId of cellsLine" :key="rowId" :class="{ alive: cell === 1 }" @click="toggleCell(lineId, rowId)"></td>
      </tr>
    </table>
  </div>
</template>

<script>
import vTimer from './vTimer.vue'

export default {
  name: 'Life',
  props: ['rule', 'size', 'play'],
  components: { vTimer },
  computed: {
    birthRules () {
      return this.rule.split('/')[1]
    },
    surviveRules () {
      return this.rule.split('/')[0]
    }
  },
  data () {
    // Initialiser un array permet de le créer avec x éléments vide au départ
    // que l'on fill avec des 0
    let cellsYX = Array(this.size).fill(0).map((i)=> Array(this.size).fill(0))
    cellsYX = cellsYX.map(i => i.map( j => Math.random() < 0.1 ? 1 : 0))
    
    console.log(cellsYX)
    return {
      cellsYX,
      isPlaying: false
    }
  },
  watch: {
    size () {
      this.cellsYX = Array(this.size).fill(0).map((i)=> Array(this.size).fill(0))
    }
  },
  methods: {
    toggleCell(lineId, rowId) {
      let cell = this.cellsYX[lineId][rowId]
      this.$set(this.cellsYX[lineId], rowId, (cell + 1) % 2)
    },
    next () {
      this.$set(this, 'cellsYX', this.getNextCellsYX())
    },
    getNearAliveCellsCount(lineId, rowId) {
      let nearCellsAlive = 0
      let s = rowId > 0
        ? rowId - 1
        : 0
      // +2 car slice est non inclusif sur l'index de fin
      let e = rowId + 2
      
      // Ligne precedente
      if (this.cellsYX[lineId - 1]) {
        nearCellsAlive += this.cellsYX[lineId - 1].slice(s, e).reduce((stack, current) => stack + current, 0)
      }
      // Ligne suivante
      if (this.cellsYX[lineId + 1]) {
        nearCellsAlive += this.cellsYX[lineId + 1].slice(s, e).reduce((stack, current) => stack + current, 0)
      }
      nearCellsAlive += this.cellsYX[lineId    ].slice(s, e).reduce((stack, current) => stack + current, 0)
      
      // On soustrait la cible au résultat, car elle est au centre de la grille
      return nearCellsAlive - this.cellsYX[lineId][rowId]
    },
    getNextCellsYX () {
       return this.cellsYX.map((cellsLine, lineId) => {
         return cellsLine.map((cell, rowId) => {
           let currentCellIsAlive = cell
           let nearCellsAlive = this.getNearAliveCellsCount(lineId, rowId)
           
           if (currentCellIsAlive === 0 && this.birthRules.indexOf(nearCellsAlive) !== -1 ) {
             return 1
           } else if (currentCellIsAlive === 1 && this.surviveRules.indexOf(nearCellsAlive) === -1 ) {
             return 0
           } else {
             return cell
           }
         })
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
table {
  border-spacing: 0px;
  border-collapse: separate;
  margin: auto;
}
td {
  width: 5px;
  height: 5px;
  background: #ccc;
}
td.alive {
  background: #444;
}
</style>
