<template>
  <div id="app">
    <h1>Conway's Game of Life in Vue.js</h1>
    <div class="controles">
      <button @click="playPauseToggle">{{ isPlaying ? '&#9646;&#9646;' : '&#9654;' }}</button>
      <input v-model="rule" />
      <input v-model="size" />
    </div>
    <Life :rule="rule" :size="parseInt(size)" :play='isPlaying' />
  </div>
</template>

<script>
import Life from './components/Life.vue'

export default {
  name: 'App',
  components: {
    Life
  },
  data: function() {
    return {
      rule: '23/3',
      size: 100,
      isPlaying: false
    };
  },
  watch: {
    size () {
      this.cellsYX = Array(this.size).fill(0).map((i)=> Array(this.size).fill(0))
    }
  },
  methods: {
    playPauseToggle () {
      this.isPlaying = !this.isPlaying
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.controles {
  margin: 50px auto 20px;
  text-align: center;
}
</style>
